#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  zoom: 4;
}

#display {
  display: flex;
  justify-content: flex-end;
  padding: 0px 5px;
  border: 0.5px solid #ccc;
  border-radius: 1px;
  font-size: 1rem;
  background-color: rgb(229, 240, 248);
}

.button-container {
  border: 0.5px solid #ccc;
  border-radius: 3px;
  padding: 5px 5px;
  font-size: 1rem;
  background-color: rgb(229, 240, 248);
}

.row {
  display: flex;
}

.digits {
  background-color: rgb(201, 235, 235);
}

.functions,
.equals,
.clear {
  background-color: rgb(247, 247, 212);
  width: 100%;
}
